@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basit global ayarlar */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    ui-sans-serif, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #e5e7eb;
  background-color: #020617;
}

/* Varsa eski stiller, buraya ekleyebilirsin */
